
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden; /* Prevent scrollbars */
}

canvas {
	display: block; /* Removes default inline spacing */
	position: fixed;
	top: 0;
	left: 0;
}